Repository owodunni/home-lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, lint-apps

make-lint:
  name: make lint
  entry: make lint
  language: system
  pass_filenames: false

lint-apps:
  name: lint apps
  entry: make lint-apps
  language: system
  pass_filenames: false

fix(opencloud): Add init command for JWT secret generation
  apps/opencloud/values.yml
Due: make-lint, lint-apps

fix(nextcloud): Use internal Authentik URL for OIDC
  apps/nextcloud/postinstall.yml
Due: make-lint

docs(nextcloud): Add Redis password URL encoding issue to log
  docs/nextcloud-authentik-log.md
Due: none

fix: Add pod-selector annotations and Homepage egress to authentik
  apps/authentik/values.yml
  apps/homepage/manifests.yml
  apps/kube-prometheus-stack/values.yml
Due: make-lint, lint-apps

fix(opencloud): Add hostAliases to bypass ServiceLB hairpin NAT issue
  apps/opencloud/values.yml
Due: make-lint, lint-apps

fix: Add Traefik ingress network policies for monitoring
  apps/kube-prometheus-stack/prerequisites.yml
Due: make-lint

docs: Clarify app access by group in Authentik migration
  docs/authentik-migration.md
Due: none

ci: Add linting and pre-commit configuration
  .ansible-lint
  .ansible-lint-ignore
  .gitignore
  .pre-commit-config.yaml
  .yamllint
  Makefile
Due: make-lint

feat: Add Ansible and Python project configuration
  ansible.cfg
  pyproject.toml
  requirements.yml
  uv.lock
Due: make-lint

feat: Add inventory for Pi CM5 cluster
  group_vars/all.yml
  group_vars/all/main.yml
  group_vars/all/vault.yml
  group_vars/desktop.yml
  group_vars/servers.yml
  host_vars/pi-cm5-1.yml
  host_vars/pi-cm5-2.yml
  host_vars/pi-cm5-3.yml
  host_vars/pi-cm5-4.yml
  hosts.ini
Due: make-lint

feat: Add pi_cm5_config role and playbooks
  playbooks/pi-base-config.yml
  playbooks/unattended-upgrades.yml
  playbooks/upgrade.yml
  roles/pi_cm5_config/defaults/main.yml
  roles/pi_cm5_config/handlers/main.yml
  roles/pi_cm5_config/meta/main.yml
  roles/pi_cm5_config/tasks/main.yml
Due: make-lint

feat: Add Claude Code workspace configuration
  .claude/commands/commit.md
  .claude/commands/project-guidelines.md
  .claude/commands/vault.md
  .claude/settings.json
  .claude/skills/ansible-cop-review
  .claude/skills/ansible-docs
  .claude/skills/ansible-good-practices
  .claude/skills/ansible-scaffold-collection
  .claude/skills/ansible-scaffold-ee
  .claude/skills/ansible-scaffold-role
  .claude/skills/ansible-zen
  CLAUDE.md
Due: none

docs: Add project README
  README.md
Due: none

docs: Improve commit guideline body style
  .claude/commands/commit.md
Due: none

fix: Align pi-cm5-4 inventory hostname with host_vars
  hosts.ini
Due: none

feat: Auto-install pre-commit hook in make setup
  .claude/commands/commit.md
  .claude/commands/project-guidelines.md
  CLAUDE.md
  Makefile
  README.md
Due: none

fix: Enable vault password file for playbook runs
  ansible.cfg
Due: none

feat: Supply sudo become password from vault
  group_vars/all/main.yml
  group_vars/all/vault.yml
Due: make-lint

feat: Add vault-edit target and simplify lint
  Makefile
Due: none

feat: Add layered orchestration with site.yml
  Makefile
  playbooks/security.yml
  playbooks/system.yml
  site.yml
Due: make-lint

docs: Document the layer architecture
  .claude/commands/project-guidelines.md
  CLAUDE.md
Due: none

docs: Clarify pcie config enables SATA drive detection
  host_vars/pi-cm5-3.yml
Due: make-lint

fix: Make Pi CM5 config backups idempotent
  roles/pi_cm5_config/tasks/main.yml
Due: make-lint

feat: Auto-reboot Pi CM5 nodes when config requires it
  playbooks/pi-base-config.yml
  roles/pi_cm5_config/defaults/main.yml
  roles/pi_cm5_config/handlers/main.yml
Due: make-lint

config: Point pi-cm5-4 at minio.jardoole.xyz
  hosts.ini
Due: none

feat: Add storage layer for encrypted NAS pool
  CLAUDE.md
  Makefile
  group/storage/vault.yml
  group_vars/storage/main.yml
  host_vars/beelink.yml
  hosts.ini
  playbooks/disk-encrypt.yml
  playbooks/pi-base-config.yml
  playbooks/snapraid-mergerfs.yml
  playbooks/storage.yml
  playbooks/templates/snapraid.conf.j2
  requirements.yml
  site.yml
Due: make-lint

config: Add roles_path to ansible.cfg
  ansible.cfg
Due: none

feat: Add networking layer with WireGuard peer
  CLAUDE.md
  Makefile
  group_vars/storage/main.yml
  host_vars/beelink.yml
  playbooks/networking.yml
  playbooks/templates/wg0.conf.j2
  playbooks/wireguard.yml
  site.yml
Due: make-lint

refactor: Promote WireGuard to dedicated inventory group
  CLAUDE.md
  Makefile
  group_vars/storage/main.yml
  group_vars/wireguard/main.yml
  hosts.ini
  playbooks/wireguard.yml
Due: make-lint

feat: Wire up beelink as active WireGuard peer
  host_vars/beelink.yml
  host_vars/beelink/vault.yml
Due: make-lint

docs: Update CLAUDE.md networking layer to reference [wireguard] group
  CLAUDE.md
Due: none

Document how to provision fresh debian install
  README.md
Due: none

Move storage vault to correct location
  group_vars/storage/vault.yml
Due: make-lint

fix: Consolidate beelink host_vars into directory layout
  host_vars/beelink/main.yml
Due: make-lint

fix: Remove redundant beelink.yml now superseded by directory
  host_vars/beelink.yml
Due: make-lint

docs: Add FAQ for LUKS key mismatch on fresh installs
  README.md
Due: none

fix: Pin beelink storage group to WireGuard IP
  hosts.ini
Due: none

chore: Exclude third-party roles from yamllint and ansible-lint
  .ansible-lint
  .yamllint
Due: none

feat: Add ingress and services layer slots
  Makefile
  hosts.ini
  site.yml
Due: make-lint

Path conditions:
  make-lint: any of: \.(yml|yaml)$
  lint-apps: any of: ^apps/.*/values.*\.yml$
