Repository owodunni/home-lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, lint-apps

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint

  - repo: local
    hooks:
      - id: make-lint
        name: make lint
        entry: make lint
        language: system
        files: \.(yml|yaml)$
        pass_filenames: false

      - id: lint-apps
        name: lint apps
        entry: make lint-apps
        language: system
        files: ^apps/.*/values.*\.yml$
        pass_filenames: false

fix(nextcloud): Disable Redis persistence (cache doesn't need it)
  apps/nextcloud/values.yml
Due: make-lint, lint-apps

fix(nextcloud): Allow local remote servers for internal OIDC
  apps/nextcloud/values.yml
Due: make-lint, lint-apps

fix(nextcloud): Update to chart v8.9.0 and fix secret structure
  apps/nextcloud/Chart.yml
  apps/nextcloud/README.md
  apps/nextcloud/prerequisites.yml
  apps/nextcloud/values.yml
Due: make-lint, lint-apps

fix(monitoring): Address Alertmanager alerts for K3s compatibility
  apps/kube-prometheus-stack/prerequisites.yml
  apps/kube-prometheus-stack/values.yml
Due: make-lint, lint-apps

fix(nextcloud): Simplify persistence and fix NFS stale handle issue
  Makefile
  apps/nextcloud/prerequisites.yml
  apps/nextcloud/values.yml
Due: make-lint, lint-apps

fix: Handle zero-replica StatefulSets in wait-for-ready
  apps/_common/tasks/wait-for-ready.yml
Due: make-lint

fix(nextcloud): Allow local remote servers for OIDC
  apps/nextcloud/values.yml
  docs/nextcloud-authentik-log.md
Due: make-lint, lint-apps

fix(nextcloud): Use correct Authentik service port for OIDC
  apps/nextcloud/postinstall.yml
  apps/nextcloud/prerequisites.yml
Due: make-lint

fix(nextcloud): Use unique PVC name to avoid NFS stale file handles
  Makefile
  apps/nextcloud/prerequisites.yml
  apps/nextcloud/values.yml
Due: make-lint, lint-apps

fix(opencloud): Add port 8443 to NetworkPolicy for post-DNAT traffic
  apps/opencloud/prerequisites.yml
Due: make-lint

Add nextcloud secrets
  group_vars/all/vault.yml
Due: make-lint

feat(nextcloud): Add Nextcloud deployment with Authentik SSO support
  apps/nextcloud/Chart.yml
  apps/nextcloud/README.md
  apps/nextcloud/app.yml
  apps/nextcloud/prerequisites.yml
  apps/nextcloud/values.yml
  playbooks/k3s/02-helm-setup.yml
Due: make-lint, lint-apps

docs: Add application access binding instructions
  docs/authentik-migration.md
Due: none

fix(nextcloud): Use internal Authentik URL for OIDC
  apps/nextcloud/postinstall.yml
  apps/nextcloud/prerequisites.yml
Due: make-lint

fix(nextcloud): Always configure OIDC provider in postinstall
  apps/nextcloud/postinstall.yml
Due: make-lint

fix: Add port 80 to Homepage egress for Authentik service
  apps/homepage/manifests.yml
Due: make-lint

fix(nextcloud): Use Traefik ClusterIP for Authentik hostAliases
  apps/nextcloud/postinstall.yml
Due: make-lint

fix(nextcloud): Use URL-safe Redis password for sessions
  docs/nextcloud-authentik-log.md
  group_vars/all/vault.yml
Due: make-lint

docs: Strengthen kubectl restriction rules in CLAUDE.md
  CLAUDE.md
Due: none

fix(nextcloud): Split DB secrets for CNPG and Helm compatibility
  apps/nextcloud/prerequisites.yml
  apps/nextcloud/values.yml
Due: make-lint, lint-apps

fix: Add missing network policy ports for monitoring
  apps/homepage/manifests.yml
  apps/kube-prometheus-stack/prerequisites.yml
Due: make-lint

fix(nextcloud): Add smtp-host to secret and fix Redis scheduling
  apps/nextcloud/prerequisites.yml
  apps/nextcloud/values.yml
Due: make-lint, lint-apps

docs: Mark Alertmanager as complete in Authentik migration
  docs/authentik-migration.md
Due: none

fix(openclaw): Bump chart version to 1.3.16
  apps/openclaw/Chart.yml
  apps/openclaw/README.md
Due: make-lint

fix(opencloud): Switch to decomposedfs storage driver for NFS compatibility
  apps/opencloud/values.yml
Due: make-lint, lint-apps

feat(nextcloud): Add automated Authentik OIDC configuration
  apps/nextcloud/README.md
  apps/nextcloud/app.yml
  apps/nextcloud/postinstall.yml
  docs/authentik-migration.md
Due: make-lint

feat(makefile): Improve app-delete to clean up all resources
  Makefile
Due: none

docs: Add network segmentation guide for UniFi VLANs
  docs/INDEX.md
  docs/network-segmentation.md
Due: none

fix(nextcloud): Add NetworkPolicy rule for Traefik and use external OIDC URL
  apps/nextcloud/postinstall.yml
  apps/nextcloud/prerequisites.yml
Due: make-lint

feat(openclaw): Add OpenClaw AI assistant deployment
  apps/openclaw/Chart.yml
  apps/openclaw/README.md
  apps/openclaw/app.yml
  apps/openclaw/prerequisites.yml
  apps/openclaw/values.yml
  playbooks/k3s/02-helm-setup.yml
Due: make-lint, lint-apps

fix(grafana): Use internal URLs for OIDC and simplify groups
  apps/kube-prometheus-stack/values.yml
  docs/authentik-migration.md
Due: make-lint, lint-apps

fix(opencloud): Disable internal TLS, let Traefik handle termination
  apps/opencloud/values.yml
Due: make-lint, lint-apps

feat: Add OpenCloud and Collabora deployment
  apps/backrest/manifests.yml
  apps/collabora/Chart.yml
  apps/collabora/app.yml
  apps/collabora/prerequisites.yml
  apps/collabora/values.yml
  apps/opencloud/Chart.yml
  apps/opencloud/app.yml
  apps/opencloud/prerequisites.yml
  apps/opencloud/values.yml
  docs/authentik-migration.md
  docs/project-structure.md
  playbooks/beelink/03-storage-reconfigure-mergerfs.yml
  playbooks/k3s/02-helm-setup.yml
Due: make-lint, lint-apps

docs: Update Authentik migration status and add troubleshooting
  docs/authentik-migration.md
Due: none

fix(opencloud): Move to ARM nodes with NFS storage
  apps/opencloud/values.yml
Due: make-lint, lint-apps

fix(backrest): Disable built-in auth for Authentik forward auth
  apps/backrest/manifests.yml
Due: make-lint

fix(opencloud): Use HTTPS for health probes and Traefik backend
  apps/opencloud/values.yml
Due: make-lint, lint-apps

fix(opencloud): Add hostAliases to bypass ServiceLB hairpin NAT issue
  apps/opencloud/prerequisites.yml
  apps/opencloud/values.yml
Due: make-lint, lint-apps

fix(nextcloud): Use Traefik pod ports in NetworkPolicy
  apps/nextcloud/prerequisites.yml
  docs/nextcloud-authentik-log.md
Due: make-lint

fix(nextcloud): Add hostAliases patch for Authentik OIDC
  apps/nextcloud/postinstall.yml
  apps/nextcloud/prerequisites.yml
Due: make-lint
