Repository owodunni/home-lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, lint-apps

make-lint:
  name: make lint
  entry: make lint
  language: system
  pass_filenames: false

lint-apps:
  name: lint apps
  entry: make lint-apps
  language: system
  pass_filenames: false

refactor(homepage): Move to dedicated namespace for security isolation
  apps/homepage/README.md
  apps/homepage/manifests.yml
Due: make-lint

fix(homepage): Add HOMEPAGE_ALLOWED_HOSTS for ingress validation
  apps/homepage/manifests.yml
Due: make-lint

fix(homepage): Fix NetworkPolicy and add missing config files
  apps/homepage/README.md
  apps/homepage/app.yml
  apps/homepage/manifests.yml
Due: make-lint

fix(homepage): Replace Longhorn widget with Prometheus node storage metrics
  apps/homepage/README.md
  apps/homepage/app.yml
  apps/homepage/manifests.yml
Due: make-lint

fix(k3s): Correct traefik-config template path for xanmanning.k3s role
  group_vars/k3s_cluster/k3s.yml
Due: make-lint

chore(storage): Clean up Longhorn references and document NFS migration
  TODO.md
  apps/homepage/README.md
  apps/nfs-storage/values.yml
  docs/app-deployment-guide.md
  docs/media-stack-complete-guide.md
  docs/minio-usage.md
  docs/nas-power-management.md
  docs/network-topology.md
  docs/nfs-migration-notes.md
  docs/wireguard-setup.md
  group_vars/control_plane/kubernetes-apps.yml
  group_vars/nas/main.yml
  playbooks/beelink/02-storage-config.yml
  playbooks/beelink/03-storage-reconfigure-mergerfs.yml
  playbooks/beelink/beelink-complete.yml
  playbooks/k3s/02-helm-setup.yml
  playbooks/nas/minio-disk-spindown-setup.yml
  playbooks/nas/minio-storage-reconfigure.yml
  site.yml
Due: make-lint, lint-apps

refactor(homepage): Use kubernetes.core module for consistent deployment
  apps/homepage/app.yml
Due: make-lint

Fix prometheus stack conectivity issues
  apps/homepage/manifests.yml
  apps/kube-prometheus-stack/app.yml
  apps/kube-prometheus-stack/prerequisites.yml
Due: make-lint

Update media stack docs
  docs/media-stack-complete-guide.md
Due: none

Add backrest
  apps/backrest/README.md
  apps/backrest/app.yml
  apps/backrest/manifests.yml
  apps/backrest/prerequisites.yml
Due: make-lint

fix(prometheus): Increase memory limits for WAL replay on NFS
  apps/kube-prometheus-stack/values.yml
Due: make-lint, lint-apps

refactor(storage): Move PVC paths under k8s-apps for backup consistency
  apps/nfs-storage/values.yml
Due: make-lint, lint-apps

fix(grafana): Add NetworkPolicy for sidecar K8s API and Prometheus
  apps/kube-prometheus-stack/prerequisites.yml
Due: make-lint

docs(backrest): Expand documentation and add NFS backup sources
  apps/backrest/README.md
  apps/backrest/manifests.yml
Due: make-lint

Update docs and remove old docs
  CLAUDE.md
  docs/k3s-cluster-setup.md
  docs/k3s-firewall-troubleshooting.md
  docs/k3s-maintenance-guide.md
  docs/k3s-migration-evaluation.md
  docs/network-topology.md
  docs/pfsense-haproxy-setup.md
  docs/pfsense-integration-architecture.md
  docs/wireguard-setup.md
  playbooks/deploy-helm-app.yml
Due: make-lint

fix(grafana): Enable datasource reload on initial sync
  apps/kube-prometheus-stack/README.md
  apps/kube-prometheus-stack/values.yml
Due: make-lint, lint-apps

docs: Restructure documentation with INDEX.md and vault guide
  CLAUDE.md
  README.md
  docs/INDEX.md
  docs/ansible-vault.md
Due: none

feat(cloudnative-pg): Add PostgreSQL operator with MinIO backup support
  CLAUDE.md
  apps/cloudnative-pg/Chart.yml
  apps/cloudnative-pg/README.md
  apps/cloudnative-pg/app.yml
  apps/cloudnative-pg/values.yml
  docs/INDEX.md
  docs/app-deployment-guide.md
  docs/helm-standards.md
  docs/postgresql-guide.md
  group_vars/all/vault.yml
  group_vars/nas/main.yml
  playbooks/k3s/02-helm-setup.yml
Due: make-lint, lint-apps

chore: Remove legacy backup scripts and update disaster recovery docs
  CLAUDE.md
  docs/disaster-recovery.md
  playbooks/beelink/04-restic-backup-setup.yml
  playbooks/beelink/templates/backup-media.sh.j2
Due: make-lint

feat(alertmanager): Add cluster-wide SMTP email configuration
  apps/kube-prometheus-stack/values.yml
  docs/INDEX.md
  docs/email-configuration.md
  docs/minio-usage.md
  docs/project-structure.md
  group_vars/all/main.yml
  site.yml
Due: make-lint, lint-apps

fix(alertmanager): Move ingress config to correct YAML level
  apps/kube-prometheus-stack/values.yml
Due: make-lint, lint-apps

fix(alertmanager): Use secret for SMTP config with templated values
  apps/kube-prometheus-stack/prerequisites.yml
  apps/kube-prometheus-stack/values.yml
Due: make-lint, lint-apps

docs: Document Ansible variable templating pattern for apps
  docs/app-deployment-guide.md
  docs/email-configuration.md
Due: none

chore: Add security rule to never read secrets directly
  CLAUDE.md
Due: none

feat(authentik): Deploy Authentik Identity Provider with HA PostgreSQL
  CLAUDE.md
  apps/authentik/Chart.yml
  apps/authentik/README.md
  apps/authentik/app.yml
  apps/authentik/prerequisites.yml
  apps/authentik/values.yml
  apps/cloudnative-pg/README.md
  apps/cloudnative-pg/app.yml
  apps/cloudnative-pg/postinstall.yml
  playbooks/k3s/02-helm-setup.yml
Due: make-lint, lint-apps

chore: Add deployment and commit guidelines to CLAUDE.md
  CLAUDE.md
Due: none

Add authentik secrets
  group_vars/all/vault.yml
Due: make-lint

fix(nfs): Allow beelink to mount its own NFS exports
  CLAUDE.md
  Makefile
  group_vars/beelink_nas/main.yml
  playbooks/beelink/03-storage-reconfigure-mergerfs.yml
  playbooks/beelink/04-nfs-setup.yml
Due: make-lint

fix(authentik): Increase /dev/shm size to prevent startup crash
  apps/authentik/values.yml
Due: make-lint, lint-apps

fix(authentik): Increase CPU and memory limits
  apps/authentik/values.yml
Due: make-lint, lint-apps

chore(setup): Add helm repos to make setup for local linting
  Makefile
Due: none

feat(authentik): Add SSO integration for monitoring and media apps
  apps/backrest/manifests.yml
  apps/kube-prometheus-stack/prerequisites.yml
  apps/kube-prometheus-stack/values.yml
  apps/prowlarr/values.yml
  apps/radarr/values.yml
  apps/sonarr/values.yml
  docs/INDEX.md
  docs/authentik-migration.md
  gemini-authentik-migration.md
  playbooks/k3s/05-platform-foundation.yml
Due: make-lint, lint-apps

chore: Add k3s-platform-foundation make target
  Makefile
Due: none

fix: Remove monitoring from platform foundation namespace list
  playbooks/k3s/05-platform-foundation.yml
Due: make-lint

docs: Clarify secret generation in Authentik migration guide
  docs/authentik-migration.md
Due: none

docs: Add Post Logout Redirect URI to Grafana Authentik setup
  docs/authentik-migration.md
Due: none

fix(grafana): Add Authentik logout URL for proper SSO logout
  apps/kube-prometheus-stack/values.yml
  docs/authentik-migration.md
  group_vars/all/vault.yml
Due: make-lint, lint-apps

fix(authentik): Increase server memory limit to 1Gi
  apps/authentik/values.yml
Due: make-lint, lint-apps

fix(opencloud): Add initContainer for hostPath permissions
  CLAUDE.md
  apps/opencloud/values.yml
Due: make-lint, lint-apps

Path conditions:
  make-lint: any of: \.(yml|yaml)$
  lint-apps: any of: ^apps/.*/values.*\.yml$
